<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.myttpro.time.tracker"
	version 	= "1.0.0">

	<name>My Time Tracker Pro</name>

	<description>
		Time Tracker Pro is the easiest and fastest way to track your billable hours and generate high quality professional looking invoices
	</description>

	<author href="http://davids5.github.com"
		email="david_s5@nscdg.com.com">
		David Sidrane
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
	<gap:plugin name="ChildBrowser" /> <!-- latest release -->
	<access origin="http://myttpro.com" />

</widget>
