body {
  background: #fff;
  margin: 0;
  padding:0;
  height:100%;
  width: 100%;
  font: 18px Helvetica;
  text-align: center;
}

#title_bar {
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1 ease-in-out;
  transition: all 1s ease-in-out;
  /* need a position set to something for z-index to take effect */
  position: relative;
  z-index: 1;
  background: #ccc;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#fff), to(#ccc));
  background: linear-gradient(#fff, #ccc 70%);
  color: #444;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #999;
  height: 30px;
  line-height: 30px;
  padding: 0;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}


#back_button {
  background: grey;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}


.waitBox {
  
	color:#fff;
	text-align:center;
	background:#666;
	z-index: 20;
	padding:15px;
	border: 6px white double;
  	position:absolute;
	width:auto;
	height:auto; 
	display:none; 
	z-index:99; 
	top:50%; 
	left:50%; 
	margin-top:-37px; 
	margin-left:-81px;

}

 .frame
 {
	width: inherit;
	height: inherit;
	border: none;
	overflow-y: auto;
	overflow-x: auto;
	z-index: 20;
	display:block;
	margin:0;
	padding:0;
	background:#fff;
	
 }
.view {
	width: inherit;
	height:inherit;
	padding: 0;
	margin: 0;
	display: block;
        background:#FFF;
}

